{% extends "layout.html" %}

{%block title%}Vacations | All Vacations{%endblock title%}

{%block content%}

    <!--Display an validation error message if there is one-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="error">
                    <h4>{{message}}</h4>
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}



    <div class="sort-buttons-container">
        <div class="sort-title">Sort Options</div>
        
        <div class="sort-buttons">    
            <a href="?sort=country_name" class="sort">🌏Country A-Z</a> 
            <a href="?sort=country_name&reverse=true" class="sort">🌏Country Z-A</a>
            <a href="?sort=start_date" class="sort">📆Start Date</a> 
            <a href="?sort=start_date&reverse=true" class="sort">🗓️Start Date Backward</a> 
            <a href="?sort=end_date" class="sort">🗓️End Date</a>
            <a href="?sort=end_date&reverse=true" class="sort">🗓️End Date Backward</a>
            <a href="?sort=price" class="sort">💵Price</a>  
            <a href="?sort=price&reverse=true" class="sort">💵Price Backward</a>

        </div>
    </div>

    <br><br>

    <div class="cards-container">
            
        {% for v in vacations %}

            <div class="card">

                <div class= "card-top">    
                    <!-- Top part with the country name and image-->
                    <a href="{{ url_for('vacations_view.details', vacation_id=v.vacation_id )}}">
                        <img src="{{url_for('vacations_view.get_image', file_name = (v.file_name if v.file_name else '---')) }}" class="card-img-top">
                    </a>
            
                    <div>
                        <h5 class="country-name">{{v.country_name}}</h5>        
                    </div>


                    <div class="card-header">
          
                        {%if v.vacation_id in list_vacations_like%}
                            <button class="like-button" onclick="window.location.href='{{ url_for('vacations_view.delete_like', vacation_id=v.vacation_id )}}'">
                                <svg height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0H24V24H0z" fill="none"></path>
                                    <path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2z"></path>
                                </svg>
                                Like  
                                <span class="like-count">{{ likes.get(v.vacation_id, 0) }}</span>
                            </button>

                        {%else%}
                            <button class ="unlike-button" onclick="window.location.href= '{{ url_for('vacations_view.add_like', vacation_id=v.vacation_id )}}'">
                                <svg class="empty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
                                    <path fill="none" d="M0 0H24V24H0z"></path>
                                    <path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2zm-3.566 15.604c.881-.556 1.676-1.109 2.42-1.701C18.335 14.533 20 11.943 20 9c0-2.36-1.537-4-3.5-4-1.076 0-2.24.57-3.086 1.414L12 7.828l-1.414-1.414C9.74 5.57 8.576 5 7.5 5 5.56 5 4 6.656 4 9c0 2.944 1.666 5.533 4.645 7.903.745.592 1.54 1.145 2.421 1.7.299.189.595.37.934.572.339-.202.635-.383.934-.571z"></path>
                                </svg>
                                <svg class="filled" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0H24V24H0z" fill="none"></path>
                                    <path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2z"></path>
                                </svg>
                                Like
                                <span class="like-count">{{ likes.get(v.vacation_id, 0) }}</span>
                            </button>

                        {%endif%}   
                    </div>

                </div>
                
                <div class="card-dates">
                    <p class="card-text"> 🗓️ {{v.start_date.strftime('%d-%m-%Y')}} ➡️ {{v.end_date.strftime('%d-%m-%Y')}}</p>
                    <!-- Calculate the number of nights -->
                    <p class="card-text">🌜 {{ (v.end_date - v.start_date).days }} nights</p>
                </div>
                
                <div class="card-description">
                    <p>{{v.description}}</p>    
                </div>
                
                <div class="card-price">
                    <p> ${{v.price | round(2)}} </p>
                </div>

            </div>
        {% endfor %}

        <!-- Button with Link to go back to the top -->
        <a href="{{ url_for('vacations_view.list')}}">
            <button class="back-top-button">
                <svg class="back-top-svgIcon" viewBox="0 0 384 512">
                    <path
                    d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
                    ></path>
                </svg>
            </button>
        </a>

    </div>

{%endblock content%}


